.heroSection{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 2500px;
    gap: 20px;
}
.mainHeading{
    padding: 3% 0%;
    font-size: 26px;
}
.subPoints{
    padding: 0 4%;
}

.HeroImage{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:90%;
    margin: 0 auto;
    padding: 0 2%;

}
.HeroImageHeadings{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.rightImage{
    width: 60%;
}
.instantSupport{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.instantSupportHeading{
    text-align: center;
    height: 50px;
}

.iSFirstSection{
    display: flex;
    flex-direction: row;
    padding: 0 5%;
    align-items: center;
    justify-content: space-around;
    /* height: 300px; */
}
.chatSupport{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.chatSupportImage{
    width: 100px;
    height: 100px;
}
.settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.settingsImage{
    width: 150px;
    height: 100px;
}
.downloads{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.downloadsImage{
    width: 100px;
    height: 100px;
}

.iSSecondSection{
    display: flex;
    flex-direction: row;
    padding: 0 3%;
    align-items: center;
    gap: 20px;
    text-align: justify;
    /* height: 450px; */
}
.secondSectionFirstCard{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.secondSectionSecondCard{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.printerConnectImage{
    width: 150px;
    height: 150px;
}
.HpPrinters{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.firstRowHpPrinters{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.HpPrinters1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.HpPrinters1Image{
    width: 200px;
    height: 200px;
}
.HpPrinters1Paragraph{
    width: 200px;
    font-weight: 800;
}
.HpPrinters1prize{
    width: 200px;
    text-align: left;
}
a .HpPrinters1{
    text-decoration: none;
    color: black;
}

/* media queries */

@media screen and (max-width:872px) {
    .rightImage{
        width: 100%;
    }
    .HeroImage{
        flex-direction: column;
        gap: 20px;
    }
    .heroSection{
        top: 130px;
        height: 6800px;
    }
    .instantSupport{
        height: 1250px;
    }
    .instantSupportHeading{
        font-size: 16px;
    }
    .printerConnectHeading{
        font-size: 16px;
    }
    .printerConnectParagraph{
        font-size: 14px;
    }
    .iSFirstSection{
        flex-direction: column;
        height: 600px;
    }
    .iSSecondSection{
        flex-direction: column;
        height: 1000px;
    }
    .chatSupportImage{
        width: 90px;
        height: 100px;
    }
    .downloadsImage{
        width: 90px;
        height: 100px;
    }
    .firstRowHpPrinters{
        flex-direction: column;
    }.secondSectionFirstCard{
        width: 100%;

    }
    .secondSectionSecondCard{
        width: 100%;
    }

}
@media screen and (max-width:330px) {
    .mainHeading{
        font-size: 18px;
        font-weight: bolder;
    }
    .subPoints{
        font-size: 13px;
    }
    .printerConnectHeading{
        font-size: 13px;
    }
    .printerConnectParagraph{
        
        font-size: 10px;
    }
}

