.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.banner1 {
    position: relative;
    width: 100%;
    background-color: rgb(86, 124, 211);
    color: white;
    text-align: center;
    font-weight: 600;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logoText {
    color: #3569e1;
}

.banner2 {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logoImage {
    width: 150px;
    height: 150px;
    transform: scaleX(-1);
}

.navItems {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    gap: 20px;
}

.firstItem {
    width: 150px;
    height: 30px;
    transition-property: transform;
    transition-duration: 1.5s;
    text-align: center;

}

.firstItem:hover {
    transform: scale(1.1);
    text-decoration: underline;
    text-underline-offset: 8px;
    color: #3569e1;
}

.secondItem {
    width: 150px;
    height: 30px;
    transition-property: transform;
    transition-duration: 1.5s;
    text-align: center;
}

.secondItem:hover {
    transform: scale(1.1);
    text-decoration: underline;
    text-underline-offset: 8px;
    color: #3569e1;
}

.thirdItem {
    width: 150px;
    height: 30px;
    transition-property: transform;
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out;
    text-align: center;
}

.thirdItem:hover {
    transform: scale(1.1);
    text-decoration: underline;
    text-underline-offset: 8px;
    color: #3569e1;
}

.fourthItem {
    width: 150px;
    height: 30px;
    transition-property: transform;
    transition-duration: 1.5s;
    text-align: center;
}

.fourthItem:hover {
    transform: scale(1.1);
    text-decoration: underline;
    text-underline-offset: 8px;
    color: #3569e1;
}

.navItems a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 800;
}

.burgerMenu {
    display: none;
}

#svg2 {
    display: none;
}

.menuItems {
    display: none;
    flex-direction: column;
    position: fixed;
    width: 40%;
    top: 100px;
    right: 0;
    padding: 2% 5%;
    height: 100vh;
    background-color: white;
    z-index: 100;
    gap: 20px;
}

/* 748px  me navbar button lga dena*/
@media screen and (max-width : 872px) {
    .banner1 {
        display: none;
    }

    .navItems {
        width: 60%;
    }

    .logoText {
        font-size: 20px;
    }

    .logoImage {
        width: 80px;
        height: 80px;
    }
    .banner2 {
        /* position: fixed; */
        background-color: white;
        width: 100%;
        justify-content: space-between;
        padding: 3%;

    }
    .wrapper{
        position: fixed;
        z-index: 100;
    }

    .navItems {
        display: none;
    }

    .burgerMenu {
        display: flex;
    }

    .menuItems a {
        text-decoration: none;
        color: black;
    }

}
/* remember to give for phone elements 100px of top relative position for everyone in media query */